<div class="fail-container">
	<h3>Sorry, there are no gifs for that! Please search again!</h3>
	<div class="fail-form">
	<form action="/giphies" method="get">
  		<input type="text" name="gif">
  		<input type="submit" value="Submit">
	</form>
	</div>
</div>