<div class="success-container">
	<h3>Here's your random GIF</h3>
	<div class="framed-gif">
		<iframe src="<%=@gif_result.url%>" height="<%=@gif_result.height%>" width="<%=@gif_result.width%>"></iframe>
	</div>
	<h3>Thank you for using my React-Rails App</h3>
</div>
