<div class="success-container">
	<h3>Here's your random GIF! <i class="fa fa-refresh" aria-hidden="true"></i></h3>
	<h6>Hover over the gif for the url!</h6>
	<div class="framed-gif">
		<iframe src="<%=@searched_gif.url%>" height="<%=@searched_gif.height%>" width="<%=@searched_gif.width%>"></iframe>
		<div class="url"><%=@searched_gif.url%></div>
	</div>
	<h3>Thank you for using Giphies!</h3>
</div>
