<div class="success-container">
	<h3>Here's your random GIF</h3>
	<div class="framed-gif">
		<iframe src="<%=@searched_gif.url%>" height="<%=@searched_gif.height%>" width="<%=@searched_gif.width%>"></iframe>
	</div>
	<h3>Thank you for using Giphies!</h3>
</div>
