/* App Styling */

body {
  font-family: 'Noto Sans', sans-serif;
}

.section-wrapper {
  width: 100%;
  padding: 10px;
  text-align: center;
}

/* Header Styling */

.header-title {
  font-size: 8em;
  font-weight: 300;
}

/* Form Styling */

.form-instructions {
  padding: 5px;
}

/* Gif Styling */
