.title {
	text-align: center;
}

.fail-container {
	text-align: center;
}

.success-container {
	text-align: center;
}

.framed-gif {
	text-align: center;
	border: none;
} 

.app-title {
	font-size: 150%;
	font-weight: bold;
	color: black;
}

.form-inline {
	margin-top: 10px;
}

.btn-primary {
	border: none;
	background-color: gray; 
	color: white;
}