.giphies {
	text-align: center;
}

.fail-container {
	text-align: center;
}

.success-container {
	text-align: center;
}

.framed-gif {
	text-align: center;
	border:0 none;
}

.url {
	display: none;
	margin-top: 10px;
}

.app-title {
	font-size: 150%;
	font-weight: bold;
	color: black;
}

.form-inline {
	margin-top: 10px;
}

.btn-primary {
	border: none;
	background-color: gray; 
	color: white;
}