<!DOCTYPE html>
<html>
  <head>
    <title>Giphies</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" type="text/css" href="/assets/giphies.css" />
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <span class="app-title">
              <h3>Giphies</h3>
            </span>
          </a>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
